<?xml version="1.0" encoding="utf-8" ?>

<routes>
	<backend>
		<subdomain value="www,">
			<route URLPattern="/admin" module="blog" action="index"/>
			<route URLPattern="/admin/blog" module="blog" action="index"/>
		</subdomain>
		<subdomain value="forum">
			<route URLPattern="/admin" module="forum" action="index"/>
			<route URLPattern="/admin/forum" module="forum" action="index"/>
		</subdomain>
	</backend>
	<frontend>
		<subdomain value="www,">
			<route URLPattern="/" module="Homepage" action="index"/>
			<route URLPattern="/SiteJSON/?(en|fr|es)?" vars="lang" module="SiteJSON" action="index"/>
			<route URLPattern="/blog" module="blog" action="index" />
		</subdomain>
		<subdomain value="forum">
			<route URLPattern="/" module="Forum" action="index" />
		</subdomain>
	</frontend>
</routes>