<h2>Test form validation</h2>
<?php echo $messages_html; ?>
<form id="form_test" action="<?php echo $base_url; ?>form/" method="post" enctype="multipart/form-data">
<div class="form_row">
  <label>Field min size: 3 </label>
  <input type="text" name="test_form_min" value="<?php echo $test_form_min; ?>"/>
</div>
<div class="form_row">
  <label>Field max size: 4 </label>
  <input type="text" name="test_form_max" value="<?php echo $test_form_max; ?>"/>
</div>
<div class="form_row">
  <label>Field min size: 3, max size: 6 </label>
  <input type="text" name="test_form_min_max" value="<?php echo $test_form_min_max; ?>"/>
</div>
<div class="form_row">
  <label>Optionnal field (checked only if not empty)</label>
  <input type="text" name="test_optionnal" value="<?php echo $test_optionnal; ?>"/>
</div>
<div class="form_row">
  <label>Country code (2 Char)</label>
  <input type="text" name="test_exact_size" value="<?php echo $test_exact_size; ?>"/>
</div>
<div class="form_row">
  <label>Optionnal if coutry code != "US" and != "FR", else size must be 5</label>
  <input type="text" name="test_optionnalif" value="<?php echo $test_optionnalif; ?>"/>
</div>

<div class="form_row">
  <label>Alpha</label>
  <input type="text" name="test_alpha" value="<?php echo $test_alpha; ?>"/>
</div>
<div class="form_row">
  <label>AlphaNum</label>
  <input type="text" name="test_alphanum" value="<?php echo $test_alphanum; ?>"/>
</div>
<div class="form_row">
  <label>Numeric</label>
  <input type="text" name="test_numeric" value="<?php echo $test_numeric; ?>"/>
</div>
<div class="form_row">
  <label>Int</label>
  <input type="text" name="test_int" value="<?php echo $test_int; ?>"/>
</div>
<div class="form_row">
  <label>Secure (min 2 uppercases, 3 digits and 1 special char)</label>
  <input type="text" name="test_secure" value="<?php echo $test_secure; ?>"/>
</div>

<div class="form_row">
  <label>Date (format YYYY/MM/DD)</label>
  <input type="text" name="test_date" value="<?php echo $test_date; ?>"/>
</div>

<div class="form_row">
  <label>Date (format YYYY-MM-DD) between 2016/07/15 and 2017-11-15</label>
  <input type="text" name="test_daterange" value="<?php echo $test_daterange; ?>"/>
</div>

<div class="form_row">
  <label>Hex Color (with custom error message)</label>
  <input type="text" name="test_hexcolor" value="<?php echo $test_hexcolor; ?>"/>
</div>

<div class="form_row">
  <label>Type "blue" or "red"</label>
  <input type="text" name="test_inlist" value="<?php echo $test_inlist; ?>"/>
</div>

<div class="form_row">
  <label>Password</label>
  <input type="password" name="test_password" value="<?php echo $test_password; ?>"/>
</div>

<div class="form_row">
  <label>Confirm Password</label>
  <input type="password" name="test_password_conf" value="<?php echo $test_password_conf; ?>"/>
</div>

<div class="form_row">
  <label>Upload image</label>
  <input type="file" name="test_image" value="<?php echo $test_image; ?>"/>
</div>

<div class="form_row_center">
  <input type="submit" value="submit form" />
</div>
</form>
