{% extends "Main.twig" %}
{% block header %} {{ Page_Title }} {% endblock %}

{% block left_nav %}<nav>HomePage Left Nav</nav>{% endblock %}
{% block content %}
      <article><p>Welcome on homepage</p></article>
      <article><p>Aricle 2</p></article>
{% endblock %}
{% block right_nav %}<aside>Homepage Right Aside</aside>{% endblock %}
{% block footer %}<footer>HomePage Footer</footer>{% endblock %}