{% extends "Main.twig" %}
{% block header %} {{ Page_Title }} {% endblock %}

{% block left_nav %}<aside class="left">Homepage Left Aside</aside>{% endblock %}
{% block content %}
      <p>Welcome on homepage</p>
{% endblock %}
{% block right_nav %}<aside class="right">Homepage Right Aside</aside>{% endblock %}
{% block footer %}{% endblock %}