<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{Page_title}}</title>
    {% block header_css_includes %}
      <link rel="stylesheet" href="{{ base_dir }}/css/styles.css" media="all">
    {% endblock %}
    {% block header_js_includes %}{% endblock %}
  </head>
  <body>
    <header>
         {% block header %}
          <h1>Responsive Layout using Flexbox</h1>
         {% endblock %}
    </header>

    <div id="main">
        {% block left_nav %}<nav>nav</nav>{% endblock %}
        {% block right_nav %}<aside>aside</aside>{% endblock %}
        
        <section>{% block content %}{% endblock %}</section>

    </div>
    {% block footer %}<footer>Default Footer</footer>{% endblock %}
    {% block footer_js_includes %}{% endblock %}
    {% block footer_js_scripts %}{% endblock %}
  </body>
</html>